::-webkit-input-placeholder {
  color: #a9a9a9
}
:-ms-input-laceholder {
  color: #a9a9a9
}
::-moz-placeholder {
  color: #a9a9a9
}
:-moz-placeholder {
  color: #a9a9a9
}
.wsite-image {
  position: relative
}
.wsite-image a {
  display: inline-block\9;
  max-width: 100% \9
}
.wsite-image-border-none a img {
  border-width: 0 !important
}
.wsite-logo {
  display: inline-block;
  vertical-align: top
}
.wsite-logo span {
  vertical-align: top !important
}
hr.styled-hr {
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.13);
  border: 0pt none;
  color: #eee;
  color: rgba(0, 0, 0, 0.13);
  height: 1px;
  margin: 0 auto;
  text-align: center
}
.wsite-not-footer {
  text-align: left
}
.wsite-multicol {
  position: relative;
  direction: ltr
}
.wsite-multicol-table {
  position: relative;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  margin: 0 !important;
  border: 0 !important;
  padding: 0 !important
}
.wsite-multicol-col {
  vertical-align: top;
  margin: 0 !important;
  border: 0 !important;
  padding: 0;
  -moz-box-sizing: border-box
}
.multicol-col {
  width:50%;
  padding:0 25px;
}
html,
body {
  margin: 0;
  padding: 0
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}
a:hover,
a:active {
  outline: 0
}
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic
}
label {
  cursor: pointer
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important
  }
  a,
  a:visited {
    text-decoration: underline
  }
  a[href]:after {
    content: " (" attr(href) ")"
  }
  a[href^="#"]:after {
    content: ""
  }
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid
  }
  tr,
  img {
    page-break-inside: avoid
  }
  img {
    max-width: 100% !important
  }
  p,
  h2 {
    orphans: 3;
    widows: 3
  }
  h2 {
    page-break-after: avoid
  }
}

.attribution {
  background-color: rgba(255,255,255,0.5);
  padding: 0 5px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  float: right;
  width: 344px;
  position: relative;
  top: -100px;
  color: black;
} 

/* Common
------------------------------------------------------------------------------- */
ul,
ol,
li,
h2,
body,
html,
div.paragraph,
blockquote,
iframe,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}
ul,
ol,
li,
h2,
body,
html,
p,
blockquote,
iframe,
img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: 0;
}
a img {
  border: 0;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  background: #ffffff;
  color: #415161;
  -webkit-font-smoothing: antialiased;
}
.body-wrap {
  width: 100%;
  min-height: 100%;
  background: #ffffff;
}
body.full-width-off {
  background: #f9fafb;
}
body.full-width-off .body-wrap,
body.full-width-off.splash-page #header-wrap {
  max-width: 1100px;
  margin: 0 auto;
  border-left: 1px solid #e6e9eb;
  border-right: 1px solid #e6e9eb;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
}
#header-wrap,
#main-wrap,
#footer-wrap {
  width: 100%;
}
.wrapper {
  display: block;
  position: relative;
  left: 0;
  z-index: 1;
  -webkit-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
a {
  color: #6d7f92;
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
a:hover {
  color: #6c8095;
  text-decoration: none;
}
.paragraph a {
  border-bottom: 1px solid #e6e9eb;
}
h2 {
  font-size: 1.5em;
  margin: 0 auto 1em;
}
div.paragraph,
.paragraph,
div.paragraph {
  line-height: 1.75;
  margin: 0 auto 2em;
}
p,
.paragraph,
div.paragraph {
  line-height: 1.75;
  margin: 0 auto 2em;
}
blockquote {
  background: #8496b3;
  font-size: 1.25em;
  font-style: normal !important;
  line-height: 1.75em;
  color: #ffffff;
  padding: 1.5em 2em !important;
  margin: 2em auto;
  border-left: 0px !important;
}
#header-wrap {
  text-align: center;
  background: #ffffff;
  z-index: 13;
  -webkit-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#logo {
  font-size: 2.75em;
  font-weight: bold;
  color: #415161;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 0 .5em;
}
#logo img {
  max-height: 200px;
  max-width: 100%;
  margin: 0 !important;
}
#nav {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid #e6e9eb;
}
#nav ul,
#nav ul li {
  list-style: none;
  text-align: center;
}
#nav ul li {
  display: inline-block;
}
#nav ul span:last-child li,
#nav ul > li:last-child {
  background: none;
}
#nav ul li a {
  display: block;
  color: #ff8000;
  padding: 1em .75em;
  font-size: 1.15em;
}
#nav ul li#active a,
#nav ul li a:hover {
  color: #415161;
}
.stuck {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 13;
}
body.full-width-off .stuck {
  max-width: 1400px;
  left: auto;
}
#wsite-menus .wsite-menu-wrap {
  font-size: inherit;
}
#wsite-menus .wsite-menu li a {
  font-size: 1.2em;
  color: #b5c0d1;
  background: #ffffff;
  border: 0;
}
#wsite-menus .wsite-menu li a:hover {
  color: #415161;
  background: #f9fafb;
}
#wsite-menus .wsite-menu-arrow {
  display: none;
}
#wsite-menus .wsite-menu {
  border: 1px solid #e6e9eb;
}
.nav-trigger {
  display: none;
  cursor: pointer;
}
.mobile-wrap {
  display: none;
  -webkit-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 150ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
input.nav-trigger,
input.nav-trigger-close {
  display: none;
}
.tall-header-page .wsite-background {
  width: 100%;
  height: 375px;
  background: url(default-bg.jpg) no-repeat center center;
  background-size: cover;
}
.short-header-page .wsite-background {
  width: 100%;
  height: 250px;
  background: url(default-bg.jpg) no-repeat center center;
  background-size: cover;
}

#wrapper-inner {
  display: table;
  width: 100%;
  height: 100%;
  max-width: 900px;
  text-align: center;
  margin: 0 auto;
}
#main-wrap {
  background: #ffffff;
}
#main-wrap .container {
  padding: 3em 3em 5em;
}
#footer-wrap {
  border-top: 1px solid #e6e9eb;
  color: #415161;
  font-size: .85em;
}
.wsite-footer {
  padding: 3em 0;
}
.wsite-footer h2 {
  font-size: 1.25em;
}
#footer-wrap .container > div {
  top: auto !important;
}
#close {
  display: none;
}
.wsite-selected a {
  color: #b5c0d1;
}



/* Responsive
--------------------------------------------------------------------------- */
@media (max-width: 1024px) {
  body {
    font-size: 15px;
    -webkit-overflow-scrolling: touch;
  }
  .body-wrap {
    overflow-x: hidden;
  }
  .container {
    width: auto;
    padding: 0 !important;
  }
  .wrapper,
  #header-wrap,
  #main-wrap,
  #footer-wrap,
  #nav {
    box-sizing: border-box;
  }
  .wrapper {
    box-shadow: 0 1px 10px rgba(171, 171, 171, 0.35);
    border-radius: 1px;
    width: 100%;
    min-height: 100%;
  }
  #main-wrap {
    padding: 40px;
  }
  div.paragraph,
  .paragraph {
    line-height: 1.5 !important;
  }
  p,
  .paragraph {
    line-height: 1.5 !important;
  }
  h2 {
    font-size: 1.75em !important;
  }
  font {
    font-size: 100% !important;
  }
  .wsite-footer {
    padding: 40px;
  }

  .tall-header-page .wsite-background {
    height: 300px;
  }
  .short-header-page .wsite-background {
    height: 225px;
  }
  .splash-page .sticky-wrapper {
    height: auto !important;
  }
  .splash-page .mobile-wrap {
    background: #ffffff;
    top: 0;
  }
  body.splash-page.menu-open .mobile-wrap {
    left: 0;
  }
  .splash-page #wrapper-inner {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
  }
  #logo {
    font-size: 2.25em;
  }
  #logo img {
    max-height: 125px;
  }
  .wsite-logo {
    vertical-align: middle;
    line-height: 1em;
  }
  .wsite-logo #wsite-title {
    font-size: 1em !important;
    line-height: 1 !important;
  }
  #header-wrap {
    border-bottom: 1px solid #e6e9eb;
    top: 0 !important;
    left: 0;
    display: table;
  }
  #header-wrap .nav-trigger,
  #header-wrap #logo {
    display: table-cell;
    vertical-align: middle;
  }
  #header-wrap .nav-trigger {
    padding-left: 40px;
  }
  #header-wrap #logo {
    width: 100%;
    padding: 20px 80px 20px 20px;
    box-sizing: border-box;
  }
  #nav {
    display: none;
  }
  .mobile-wrap {
    display: block;
  }
  .nav-trigger {
    padding: 10px;
  }
  body.menu-open .wrapper,
  body.menu-open .wrapper #header-wrap {
    left: 350px;
  }
  body.menu-open .mobile-wrap {
    left: 0;
  }
  body.menu-open #wsite-mini-cart {
    bottom: -70px;
  }
  .nav-trigger span.mobile {
    display: block;
    height: 2px;
    width: 20px;
    position: relative;
    margin: 0 auto 5px;
    background: #415161;
  }
  .nav-trigger span.mobile:last-child {
    margin-bottom: 0;
  }
  .mobile-wrap {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100%;
    padding: 2em 1.5em;
    overflow-y: auto;
    z-index: 0;
    box-sizing: border-box;
  }
  .mobile-wrap .nav-trigger {
    margin-left: 20px;
  }
  #navmobile ul li a {
    padding: 6px 0;
    font-size: 1.25em !important;
    display: inline-block;
  }
  .wsite-mobile-menu {
    list-style: none;
  }
  .wsite-mobile-menu a {
    color: #ff8000;
  }
  .wsite-mobile-menu #active a,
  .wsite-mobile-menu a:focus {
    color: #546270;
  }
  .wsite-menu-mobile-arrow {
    display: inline-block !important;
    font-size: inherit !important;
    padding: 0 5px
  }
  .wsite-menu-mobile-arrow:before {
    display: inline-block;
    content: '\203A';
    vertical-align: bottom
  }
  .wsite-menu-back-item .wsite-menu-mobile-arrow:before {
    content: '\2039'
  }
  .wsite-menu-arrow {
    display: none;
  }
  .wsite-menu-default,
  .wsite-menu {
    list-style-type: none;
  }
  .wsite-menu-default a,
  .wsite-menu-back-item a,
  .wsite-menu a {
    cursor: pointer;
  }
  body.menu-open .wrapper .mobile:first-child {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 3px;
  }
  body.menu-open .wrapper .mobile:nth-child(2) {
    display: none;
  }
  body.menu-open .wrapper .mobile:last-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -4px;
  }
  .wsite-com-content {
    padding: 0;
  }
  .footer-full {
    padding-bottom: 70px !important;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  #main-wrap {
    padding: 15px;
  }
  .wsite-footer {
    padding: 20px 30px;
  }
  .wsite-multicol-col {
    width: 100% !important;
    display: block;
    padding: 0 !important;
    margin: 0 auto 1em !important;
  }
  .wsite-multicol-table-wrap {
    margin: 0 !important;
  }
  #logo {
    font-size: 1.6em;
  }
  #logo img {
    max-height: 75px;
  }
  #header-wrap #logo {
    padding: 10px 70px 10px 20px;
  }
  #header-wrap .nav-trigger {
    padding-left: 20px;
  }
  body.menu-open .wrapper,
  body.menu-open .wrapper #header-wrap {
    left: 275px;
  }
  .mobile-wrap {
    left: -275px;
    width: 275px;
  }
    .tall-header-page .wsite-background {
    height: 225px;
  }
  .short-header-page .wsite-background {
    height: 150px;
  }
  .no-header-page #header-wrap,
  .splash-page #header-wrap {
    border-bottom: 1px solid #e6e9eb;
  }
  .splash-page #wrapper-inner {
    padding: 0 20px;
  }
  .wsite-button-inner {
    font-size: 1em;
  }
  .wsite-button-large .wsite-button-inner {
    padding: 2px 40px;
  }
  #blogTable td {
    width: 100%;
    display: block;
  }
  .column-blog {
    width: 100%;
  }
  .imgPusher + span a {
    display: inline-block;
  }
  img.galleryImageBorder.wsite-image {
    width: 100%;
    box-sizing: border-box;
  }
  .blog-content span {
    width: 100%!important;
  }
  .wsite-image {
    margin-right: 0 !important;
  }
  .wsite-image > a,
  .cloud-zoom,
  .imgPusher + span a {
    display: block;
  }
  .wsite-name-field .wsite-form-input-last-name,
  .wsite-name-field .wsite-form-input-first-name {
    width: 100%;
  }
  .wsite-form-field {
    max-width: none;
  }


  .attribution {
    display: none;
  }
}

div.paragraph ul,
div.paragraph ol {
  padding-left: 3em !important;
  margin: 5px 0 !important;
  overflow: hidden;
}
div.paragraph li {
  padding-left: 5px !important;
  margin: 3px 0 0 !important;
}
div.paragraph ul,
div.paragraph ul li {
  list-style: disc outside !important;
}
div.paragraph ol,
div.paragraph ol li {
  list-style: decimal outside !important;
}




/* Hooks
--------------------------------------------------------------------------- */
.text-center {
  text-align: center;
}
.wsite-elements blockquote {
  font-family: 'Montserrat', sans-serif;
}
.wsite-content-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  color: #c2743b;
}
#footer-wrap p {
  font-family: 'Montserrat', sans-serif;
}
.menu-id {
  color: #24678d;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}
.menu-id a {
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}
.spacer {
  height: 50px;
}
.multicol-table-wrap {
  margin: 0 -25px;
}
.fast-nav {
  color: #3f3f3f;
  font-size: 16px;
}
.paragraph h3 {
  font-size: 24px;
}
.image-res {
   width: auto;
   max-width: 100%;
}
.image-ico {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 0
  ;margin-right: 0;
  text-align: center;
}
.note-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 70%;
}
.image-note {
  font-family: 'Montserrat', sans-serif;
  font-size: 70%;
  text-align: center;
}
.multicol-wrapper {
  padding-top: 40px;
}


.multicol-col,
.col-14,
.col-40,
.col-60,
.col-86 {
  padding: 0 15px;
}
.multicol-col {
  width: 33%;
}
.col-14 {
  width: 14%;
}
.col-40 {
  width: 40%;
}
.col-60 {
  width: 60%;
}
.col-86 {
  width: 86%;
}


.text-pri {
  font-family: 'Roboto', sans-serif;
}
.text-sec {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: #c2743b;
  font-size: 18px;
  font-weight: 400;
}

.text-accent {
  color: #24678d;
}

.h3-sectors {
  margin: 0;
  color: #2a2a2a;
  font-weight: 400;
}
.h4-sectors {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
.h4-sectors--sec {
  color: #4caac9;
}





/* Mobile menu
--------------------------------------------------------------------------- */
.wsite-animation-wrap {
  position: relative;
  height: 100%;
}
.wsite-menu-slide {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}